.bg-blk {
  /* background: linear-gradient(to right, #2d0a6e, #6615e9); */
  background-color: rgb(29, 29, 29);
  color: white;
}

#button-addon1 {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.list-inline-item g:hover {
  transition: 0.5sec;
  fill: #9b59b6;
}
