<nav class="navbar navbar-expand-sm fixed-top navbar-light" style="font-family: 'Poppins';">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="https://img.icons8.com/ios-glyphs/80/2b0049/illuminati-symbol.png"/></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mb-0 h5" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0 h5" routerLink="/home">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0 h5" routerLink="/home">How it Works</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mb-0 h5" href="#" id="navbardrop" data-toggle="dropdown">
          More
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item mb-0 h5" routerLink="/sales">Sales</a>
          <a class="dropdown-item mb-0 h5" routerLink="/services">Services</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link mb-0 h5" href="/home">FAQs</a>
      </li>
    </ul>
    <button type="button" class="btn btn-lg text-white" style="border-radius: 40px; font-size: medium; background-color: #2b0049;">Call Now</button>
  </div>
</nav>
