.navbar-nav {
  float: none;
  margin: 1rem auto;
  display: block;
  text-align: center;
}
.navbar-nav > li {
  display: inline-block;
  float: none;
}
.navbar {
    /* box-shadow: 0px 2px 20px 1px indigo; */
}
.scrolled {
  background-color: #fff;
  transition: background-color 700ms linear;
}
@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  .navbar-nav {
    float: none;
    /* margin: 1rem auto; */
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #000;
    border-radius: 3%;
    text-align: none;
  }
  
}