.top {
  padding: 6% 0;
  width: 100%;
  background: url("../../assets/images/home3.jpeg") 0 0px no-repeat;
  background-size: cover;
}
.top .box {
  background-color: rgba(209, 209, 209, 0.5);
  border-radius: 1%;
}
#body > .row > :not(:last-child).col-sm {
  /* put right border to all icon, except for last one */
  border-right: 2px solid indigo;
}
.services,
.works {
  background-color: rgb(223, 240, 255);
  color: #000;
  padding: 6%;
}
.why-us,
.say {
  padding: 6%;
}
.why-us h2 {
  position: relative;
  margin-bottom: 35px;
}
.why-us h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #ffc107;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin: 0 auto;
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  position: relative;
  background-color: #333;
  max-height: 230px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 10px;
}
.why-us .box:hover {
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
}
.why-us .box img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 0;
  opacity: 0;
  transition: all ease 1s;
}
.why-us .box:hover img {
  opacity: 1;
}
.why-us .box span {
  display: block;
  font-size: 56px;
  font-weight: 700;
  color: #6b6060;
  position: absolute;
  right: 10px;
  top: 0px;
  line-height: normal;
}
.why-us .box h4 a {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #dadada;
  text-decoration: none;
}
.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.why-us .box:hover span,
.why-us .box:hover h4 a,
.why-us .box:hover p {
  color: #fff;
  z-index: 1;
}
.card-0 {
  color: #fff;
  background-color: #536dfe;
  position: relative;
  margin-left: 70px;
  border-radius: 10px;
  min-height: 312px;
}

.carousel-indicators li {
  cursor: pointer;
  border-radius: 50% !important;
  width: 10px;
  height: 10px;
}

.profile {
  color: #000;
  background-color: #ffd54f;
  position: absolute;
  left: -70px;
  top: 17%;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.open-quotes {
  margin-left: 130px;
  margin-top: 100px;
}

.content {
  margin-left: 150px;
  margin-right: 80px;
}

.close-quotes {
  margin-bottom: 100px;
  margin-right: 60px;
}

@media screen and (max-width: 600px) {
  .card-main {
    padding: 50px 10px;
  }

  .card-0 {
    min-height: 432px;
  }

  .profile {
    top: 24%;
  }

  .profile-pic {
    width: 90px;
    height: 90px;
  }

  .open-quotes {
    margin-left: 100px;
  }

  .content {
    margin-left: 120px;
    margin-right: 50px;
  }

  .close-quotes {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  .top {
    padding-top: 20%;
  }
  #body > .row > :not(:last-child).col-sm {
    border-right: 0;
  }
}

.services .gr-1 {
  background: linear-gradient(170deg, #01e4f8 0%, #1d3ede 100%);
}
.gr-2 {
  background: linear-gradient(170deg, #b4ec51 0%, #429321 100%);
}
.gr-3 {
  background: linear-gradient(170deg, #c86dd7 0%, #3023ae 100%);
}
.gr-4 {
  background: linear-gradient(170deg, #f0ec1b 0%, #e76c06 100%);
}
* {
  transition: 0.5s;
}
/* .align-middle {
	 position: relative;
	 top: 20%;
	 transform: translateY(-50%);
} */
.services .column {
  margin-top: 3rem;
  padding-left: 3rem;
}
.services .column:hover {
  padding-left: 0;
}
.services .column:hover .card .txt {
  margin-left: 1rem;
}
.services .column:hover .card .txt h1,
.column:hover .card .txt p {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}
.services .column:hover a {
  color: rgba(255, 255, 255, 1);
}
.services .column:hover a:after {
  width: 10%;
}
.services .card {
  min-height: 250px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.05rem;
  font-family: "Nunito Sans";
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}
.services .card .txt {
  margin-left: -3rem;
  z-index: 1;
}
.services .card .txt h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.services .card .txt p {
  font-size: 0.7rem;
  font-family: "Nunito Sans";
  letter-spacing: 0rem;
  margin-top: 33px;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
}
.services .card a {
  z-index: 3;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 1);
  margin-left: 1rem;
  position: relative;
  bottom: -0.5rem;
  text-transform: uppercase;
}
.services .card a:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  transition: 0.5s;
}
.services .card .ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.services .card img {
  position: relative;
  right: -70%;
  top: 30%;
  font-size: 12rem;
  line-height: 0;
  opacity: 0.3;
  color: rgba(255, 255, 255, 1);
  z-index: 0;
}

.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__icon {
  background: #87bbfe;
  color: #555ac0;
}
.timeline__event--type2 .timeline__event__icon:before,
.timeline__event--type2 .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}
.timeline__event--type3:after {
  background: #24b47e;
}
.timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
  background-color: #24b47e;
}
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__icon {
  background: #aff1b6;
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__icon:before,
.timeline__event--type3 .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}
@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before,
  .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

.horizontal-tabs-steps {
  position: relative;
}

.horizontal-tabs-steps .nav-item {
  z-index: 1;
  position: relative;
}

.horizontal-tabs-steps .nav-item:after {
  content: "";
  border-top: 5px dotted #73b6ff;
  position: absolute;
  z-index: 0;
  top: 12px;
  width: 265px;
  left: 0px;
  transition: border 1s ease-out;
  transition-delay: 0s, 0s, 0.1s;
}

.horizontal-tabs-steps .nav-item:last-child:after {
  content: "";
  border-top: 0px dotted #4da3ff;
}

.horizontal-tabs-steps .nav-item.complete-step:after {
  content: "";
  border-top: 5px dotted #4d7ed2;
  position: absolute;
  z-index: 0;
  top: 12px;
  width: 265px;
  left: 0px;
  transition: border 1s ease-out;
  transition-delay: 0s, 0s, 0.1s
}

.horizontal-tabs-steps .nav-link {
  background: #fff;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  color: #3c4858;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 2px solid #4d7ed2;
  z-index: 1;
  position: relative;
}

.horizontal-tabs-steps .nav-link:hover {
  background: #22437c;
  border: 2px solid #22437c;
  color: #fff !important;
  transition: 0.3s all;
}

.horizontal-tabs-steps .nav-link:hover .horizontal-tabs-steps .nav-link span {
  color: #fff !important;
}

.horizontal-tabs-steps .nav-item h6 {
  font-size: 12px;
}

.horizontal-tabs-steps .nav-item.show .nav-link, .horizontal-tabs-steps .nav-link.active {
  color: #fff;
  background-color: #22437c;
  border-color: #22437c;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.horizontal-tabs-steps .nav-link.active span {
  color: #fff;
  font-weight: 500 !important;
}

.horizontal-tabs-steps .checked-steps span {
  display: none;
}

.horizontal-tabs-steps .checked-steps {
  background-color: #22437c !important;
  border: 1px solid #22437c !important;
  color: #fff !important;
}

.horizontal-tabs-steps .checked-steps:after {
  content: "\f00c";
  font-family: FontAwesome;
  color: #fff;
}
.platform-content .tab-pane h3 {
  font-size: 15px;
  font-weight: 500 !important;
}

.platform-content .tab-pane p {
  font-size: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 219px;
  } 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 160px;
  } 
}

@media only screen and (min-width: 421px) and (max-width: 767px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 115px;
  } 
}

@media only screen and (max-width: 420px) {
  .horizontal-tabs-steps .nav-item:after {
    content: "";
    width: 95px;
  } 
}